.input {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: none;
    padding: 7px 15px;
    color: var(--black);
    outline-color: var(--primary);
    &:focus {
        border: none;
    }
    line-height: 22px;
    font-size: 16px;
    font-family: var(--font);
    
    &::placeholder{
        color: var(--grey-light);
    }
}
