.raiting {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.star {
    fill: #e2e2e2;
    transition: all 0.3s;
    cursor: pointer;
    margin-right: 5px;
    &:last-child {
        margin-right: 0;
    }
}

.isEditable .star:hover {
    fill: var(--primary);
    cursor: pointer;
}

.fill {
    fill: var(--primary);
}
