.tag {
    width: max-content;
    height: 22px;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 20px;
    display: inline-block;
    padding: 5px 12px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;

    &.primary {
        border-color: var(--primary);
        color: var(--primary);
    }
    &.ghost {
        border-color: var(--ghost);
        color: var(--black);
    }
    &.red {
        border-color: var(--red);
        background-color: var(--red);
        color: var(--white);
    }
    &.green {
        border-color: var(--green-light);
        background-color: var(--green-light);
        color: var(--green);
    }
    &.grey {
        border-color: var(--grey-light);
        background-color: var(--grey-light);
        color: var(--white);
    }
}
